navigation-bar {
	display: block;
	width: inherit;
	.navbar-brand {
		width: inherit;
		img {
			width: inherit;
		}
	}
	label {
		position: relative;
		width: 100%;
		.show-password {
			position: absolute;
			right: 0;
			top: -5px;
			font-size: 16px;
			z-index: 99999;
		}
	}
	.navbar-default .navbar-nav > li > a:focus {
		background-color: inherit;
	}
}