html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
  padding-bottom: 0;
}
footer {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
}
.bold {
  font-weight: bold;
}
.text-shadow {
  text-shadow: 2px 2px 8px #000000;
}
.text-white {
  color: white;
}