@import "../../../node_modules/bootstrap/less/mixins";
@import "../../../node_modules/bootstrap/less/variables";
@import "../../less/_variables";

navigation-bar {
	display: block;
	width: inherit;
	.navbar-default .navbar-toggle {
		background-color: @brand-primary;
		border: none;
		.icon-bar {
			background-color: white;
		}
	}
	.large {
		font-size: 20px;
	}
	@media (min-width: @screen-sm-min) {
		.navbar-fixed-side .navbar-nav > li > a, .collapse.navbar-collapse.margin-top {
			border: none;
		}

		.nav.navbar-nav.navbar-right {
			position: absolute;
			bottom: 0;
			width: inherit;
			background-color: @brand-primary;
			.box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.2));
			> li > a.dropdown-toggle {
				color: white !important;
				font-size: 18px;
				border-top: 1px solid white;
			}
			> li, .dropdown-menu > li {
				&.active > a {
					color: @brand-primary
				}
				> a {
					border: none;
					color: white;
					padding: 5px 15px 5px 15px;
					font-family: 'gotham_boldregular', sans-serif;
				}
			}
			> li > a {
				padding: 10px 15px 10px 15px;
			}
			> li > a:hover, .dropdown-menu > li > a:hover {
				color: @brand-info
			}
			li > a:not(:hover):focus, .dropdown-menu > li > a:not(:hover):focus {
				color: white;
				background-color: @brand-primary;
			}
			.dropdown-menu {
				border-radius: 0;
			}
			.no-title {
				padding: 5px 0 0 0;
				.title {
					display: none;
				}
			}
		}
	}
	label {
		position: relative;
		width: 100%;
		.show-password {
			position: absolute;
			right: 0;
			top: -5px;
			font-size: 16px;
			z-index: 99999;
		}
	}

	.nav-item {
		font-family: 'gotham_boldregular', sans-serif;
		margin: 30px 0;
		text-transform: uppercase;
		img {
			display: block;
			width: 15%;
			margin: 5px auto;
		}
	}
	.active.nav-item a {
		background-color: transparent !important;
		color: @brand-primary !important;
	}
}

.landing-login-btn {
	position: absolute;
	top: 20px;
	right: 20px;
}