@import "../../less/_variables";

page-profile {
	display: block;
	margin-top: 80px;

	.panel {
		margin: 0;
		height: 60vh;
	}

	h2 {
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 50px;
	}

	.table > thead > tr > th {
		border-color: @brand-primary;
	}

	.table {
		th, td {
			text-align: center;
		}
	}
}